<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
     	<mapper resource="com/wdxxl/common/xml/mybatis/AuthorityResourceMapper.xml"/>
        <mapper resource="com/wdxxl/common/xml/mybatis/AuthorityRoleMapper.xml"/>
        <mapper resource="com/wdxxl/common/xml/mybatis/AuthorityUserMapper.xml"/>
        <mapper resource="com/wdxxl/common/xml/mybatis/TeacherMapper.xml"/>
        <mapper resource="com/wdxxl/common/xml/mybatis/StudentMapper.xml"/>
    </mappers>
</configuration>